body{
  background-color: #CCE0FF
}

.spicy{
  color: LimeGreen;
  text-align: center;
  font-size: 45px;
  text-shadow: white 5px 5px;
}

.topbar{
  height:300px;
  background: url("khws.png");
  background-size: contain;
}

.intro{
  text-align:center;
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-shadow: LimeGreen 3px 1px;
  border-radius: 20px;
  border-width: 3px;

}

p{
  border: solid 1px #B28DFF;
  padding: 4px;
}
.buttons{
  width: auto;
  margin:auto;
  text-align: center;
}
.box1{
  border-radius: 25px;
  width: 100px;
  height: 220px;
  background-color: LimeGreen;
  display: inline-block;
  margin: 0px auto;
  padding:inherit;

}
.box2{
  width: 400px;
  height:300px;
  background-color:#B28DFF;
  margin: auto;

}

.simon{
  align-content: center;
  background-color: black;
  margin: 50;
  min-height: 500px;
  min-width: 300px;


}

.b1, .b2, .b3, .b4, .b1clicked, .b2clicked, .b3clicked, .b4clicked{
  color: black;
  height: 400px;
  width: 400px;


}

.b1{
  background-color: #24c974;
}
.b1clicked{
  background-color: Green;
}
.b2{
  background-color: #4287f5;
}
.b2clicked
{
  background-color: Blue;
}

.b3{
  background-color: #e84f41;
}
.b3clicked{
  background-color: Red;
}

.b4{
  background-color: #ffea4f;
}

.b4clicked{
  background-color:Yellow ;
}

.highscore{
  color: white;
  text-align: center;
  font-size: 15px;
}

.start{
  align-content: center;
  background-color: white;
  width: 100px;
  height: 50px;
}
